body {
    margin: 0;
    overflow: hidden;
    --icon-size: 20px;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#container input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    height: 24px;
    line-height: 18px;
    margin-right: 4px;
    outline: none;
    transition: all 250ms linear;
}

#container input:focus {
    border-color: black;
}

.buttons {
    padding-top: 2px;
}

.buttons button {
    background: transparent;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: var(--icon-size);
    line-height: 20px;
    margin-right: 4px;
    padding: 0;
    transition: all 250ms linear;
    vertical-align: middle;
}

.buttons button:hover:not(:disabled) {
    background-color: gray;
    color: white;
}

.buttons button:active:not(:disabled) {
    background-color: black;
    color: white;
}

.buttons button:disabled {
    cursor: not-allowed;
}

.indicator {
    flex: 0 2.7em;
    text-align: center;
    user-select: none;
    cursor: default;
}

.indicator .rotate {
    animation: rotate linear 1s infinite;
    font-size: var(--icon-size);
    vertical-align: bottom;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
